# PyTorch
torch
torchaudio
torchvision

# GUI Framework
PyQt5
matplotlib

# Audio Processing and I/O
sounddevice
librosa
scipy

# Numerical Computing
numpy
panda

# System and Utils
setuptools
wheel

# Dev and Test
pytest
pytest-cov

# Packaging
pyinstaller
cx-freeze
